.a4{
    /* border: 10px solid blue; */
    background-size: 297mm 210mm;
    width: 297mm;
    min-height: 210mm;
    padding: 10mm 20mm;
    margin: auto;
    /* background: #fff; */
    font-size: 16px;
    font-family: "Times New Roman", Times, serif;
    color: #000;
    margin-top: 30px!important;
    background-image: url("../img/1618519763_3-p-delovoi-fon-dlya-prezentatsii-powerpoint-3.jpg");
    border-width: 20px;
    border-style: solid dashed solid dashed;
    border-color: #0058ff #8caaff #0058ff #8caaff;

    /* border: 30px solid transparent;
    border-image: url('/examples/images/border.png') 16.66666667% / 1 / 0 stretch; */

    
}
.head_block{
    width: 100%;
    display: flex;
    /* justify-content: center; */
    flex-direction: column;
    height: 200px;
}


.foot_block{
    width: 250px;  
    margin: 0 auto;  
    border-bottom: 1px solid #000;
    padding-bottom: 40px;
}

.upper{
    text-transform: uppercase;
}
.normal{
   text-transform: none;
}
.bold{
    font-weight: bold;
}
.center{
    text-align: center;
    font-size: 15px;
    font-weight: bold;
}
.grid-col-2{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
}
.grid-col-3{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 10px;
    margin-top: 20px;
}

.grid-col-2 h4{
    /* margin-top: 162px;
    margin-left: 220px; */
}

.grid-col-3{
    display: flex;
    justify-content: space-between;
    align-items: end;
}

.grid-col-3-text{
    width: 350px;
}


.col-right{
    justify-content: flex-end;
}
.real_div{
    text-align: justify;
    line-height: normal;
    font-size: 15px;
    margin: 30px 10mm 30px 10mm;
}
.qr_text{
    font-size: 14px;
}
.underline{
    text-decoration: underline;
}
.yellow{
    background: yellow;
}
.green{
    background: #00ff00;
}
@media print{
    .yellow{
        background: #fff!important;
        font-weight: normal!important;
    }
    .green{
        background: #fff!important;
        font-weight: normal!important;
    }
}

.spravka_txt{
    display: flex;
    justify-content: space-evenly;
}

.spravka_txt p{
    width: 100%;
}

.spravka_txt_name{
    text-align: center;
    font-weight: bold;
}

.grid-col-2-2{
    display: flex;
    justify-content: space-between;
    align-items: start;
}

/* .grid-col-2-2 h4{
    margin-top: 162px;
    margin-left: 220px;
} */

.table_last{
    width: 100%;
}

.grid-col-2-2-2{
    display: flex;
    justify-content: space-between;
}

.table_block{
    width: 48%;
}

.user_fio{
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    font-weight: 600;
}

.Specialist_block{
    text-align: left;
    border-bottom: 2px dashed #000; 
    width: 80%;
    padding-bottom: 15px;
}

.Specialist_block h2{
    text-align: left;
    margin-bottom: 5px;
}

.student_info{
    margin-top: 20px;
}

.Specialist_block2{
    width: 100%;
}

.Specialist_block2 h2{
    text-align: left;
    margin-bottom: 5px;
    font-size: 15px;
}

.student_info_txt{
    margin: 10px 0px;
    
}

.header_block{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo_block{
    display: flex;
    justify-content: center;
    align-items: center;
}

.qrcode{
    width: 120px;
    }
    .qrcode canvas{
    width: 120px;
    }
    .qrcode img{
    width: 110px;
    margin: 0 auto;
    margin-top: 10px;
}

.qr_text{
    text-align: left;
}



.adress_txt{
    font-size: 14px;
    line-height: 3px;
}